NODE_ENV= # ambiente

# Google Drive (para salvar os prints)
ID_PASTA_GOOGLE_DRIVE= # ID da pasta no Google Drive onde os prints são salvos
PATH_ARQUIVO_AUTH_GOOGLE_CLOUD= # onde tá o arquivo de autenticação com o GC (ex: ./secret.json)

# Planilha de automação de prints 
# (Sempre atualize mensalmente - quando terminar o mês, crie um backup)
# E atualize a planilha com as novas campanhas
PLANILHA_CAMPANHAS_ID= # ID da planilha (A QUE VAI SER USADA TODO mÊS)

# Conexão com o banco de dados para puxar as campanhas
MONGO_URI= # URL do mongo para o poder-ads