NODE_ENV= # ambiente

# Google Drive (para salvar os prints)
ID_PASTA_GOOGLE_DRIVE= # ID da pasta no Google Drive onde os prints são salvos
PATH_ARQUIVO_AUTH_GOOGLE_CLOUD= # onde tá o arquivo de autenticação com o GC (ex: ./secret.json)

# Delay para tirar os prints das campanhas em ms (caso seja necessário ajustar para evitar tirar prints rápidos demais)
DELAY_PRINT_MS= # valor em ms (ex: 1000)

# Caminho do executável do Google instalado no PC para usar a extensão de responsividade para o mobile
GOOGLE_CHROME_PATH= # caminho onde o .exe do chrome tá instalado
GOOGLE_CHROME_PROFILE_PATH= # Path do perfil de usuário do Chrome sem extensão (usado para os prints desktop)
GOOGLE_CHROME_PROFILE_PATH_MOBILE= # Path do perfil de usuário do Chrome com a extensão Mobile instalada (para os prints mobile)
GOOGLE_CHROME_EXTENSION_PATH= # Path da extensão 'Simulador de dispositivo móvel' instalada no Chrome local
EXTENSION_TOGGLE_SHORTCUT= # Atalho para ativar a extensão do mobile