NODE_ENV= # ambiente

# Google Drive (para salvar os prints)
ID_PASTA_GOOGLE_DRIVE= # ID da pasta no Google Drive onde os prints são salvos

# Delay para tirar os prints das campanhas em ms (caso seja necessário ajustar para evitar tirar prints rápidos demais)
DELAY_PRINT_MS= # valor em ms (ex: 1000)

# Caminho do executável do Google instalado no PC para usar a extensão de responsividade para o mobile
GOOGLE_CHROME_PATH= # caminho onde o .exe do chrome tá instalado
GOOGLE_CHROME_PROFILE_PATH= # Path do perfil de usuário do Chrome sem extensão (usado para os prints desktop)
GOOGLE_CHROME_PROFILE_PATH_MOBILE= # Path do perfil de usuário do Chrome com a extensão Mobile instalada (para os prints mobile)
GOOGLE_CHROME_EXTENSION_PATH= # Path da extensão 'Simulador de dispositivo móvel' instalada no Chrome local
EXTENSION_TOGGLE_SHORTCUT= # Atalho para ativar a extensão do mobile
GOOGLE_CREDENTIALS_B64= # base64 do secret.json

# Planilha de automação de prints 
# (Sempre atualize mensalmente - quando terminar o mês, crie um backup)
# E atualize a planilha com as novas campanhas
PLANILHA_CAMPANHAS_ID= # ID da planilha (A QUE VAI SER USADA TODO mÊS)
NOME_ABA_PLANILHA= # Nome da aba da planilha, por padrão "Página 1"

# Conexão com o banco de dados para puxar as campanhas
MONGO_URI= # URL do mongo para o poder-ads

# Path da pasta de downloads da máquina para pegar os prints mobile
DOWNLOAD_PATH_DIR= # exemplo C:\Users\moaci\Downloads

# Configuração do CRON do bot (aqui para ajustar melhor e para testes)
BOT_CRON= # configuração de como ele vai rodar (para dev, por exemplo, teste '0 */1 * * * *' para rodar minuto em minuto)